<head>
    <%- include ('./partials/head.ejs') %>
</head>

<body>
   
    <a href="/"><button>Home</button></a>
        <div id="flex-container">
            <form action="/anime/<%= anime._id %>?_method=PUT" method="post">
                <label for="name">Name:</label>
                <input type="text" name="name"required value="<%= anime.name %>"/>
                <label for="year">year:</label>
                <input type="text" name="year" value="<%= anime.year %>" />
                <label for="image">Image:</label>
                <input type="text" name="image" value="https://sainfoinc.com/wp-content/uploads/2018/02/image-not-available-570x570.jpg" />
                <button type="submit">Edit anime</button>
            </form>
        </div>
</body>

</html>