<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs/') %>
</head>
<body>
    <div class="body-overlay">
        <header>
            <h1>AniLibrary</h1>
            <ul>
                <li><a href="/pub">master branch</a></li>
                <li><a href="/new">git add -an item</a></li>
            </ul>
        </header>
        <main>
            <div>
              <h1>Anime</h1>
              <ul>
                <% for (let i=0; i < anime.length; i++) { %>
                  <li>
                    <a href="/models/seed.js/<% anime[i]._id %>">
                      <%= animes[i].name %>
                    </a>
                  </li>
                  <% } %>
              </ul>
            </div>
    
            
          </main>
</div>
</body>
</html>