<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/indexpage.css" />
</head>
<body>
   
        <header>
            <h1>AniLibrary</h1>
            <nav>
                <button id="anime-btn">Show Menu</button>
                <a href="/anime/new"><button>New Anime</button></a>
                <a href="/watchList/new"><button>Watch List</button></a>
                <button id="WatchNext-btn">Show List</button>
            </nav>
        </header>
        <main>
            
            <div class="flex-container">
                    <ul>
                        <% for (let anime of animes) { %>
                        <li>
                            <a href="/anime/<%= anime._id %>">
                                <div class="index-show-anime">
                                    <img src="<%= anime.image  %>" />
                                    <h3><%= anime.name %></h3>
                                </div>
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </div>
    
               

          </main>
          <script>
            // Add event listeners to the button elements
            const animeMenu = document.getElementById("animes-menu")
            const animeBtn = document.getElementById("anime-btn")
            const watchMenu = document.getElementById("watch-menu")
            const watchBtn = document.getElementById("watch-btn")

            animeBtn.addEventListener('click', (e) => {
                if (e.target.innerText === 'Hide Menu') {
                    animeMenu.classList.remove('open-menu')
                    animeMenu.classList.add('close-menu')
                    animeBtn.innerText = "Show Menu"
                } else if (e.target.innerText === 'Show Menu') {
                    animeMenu.classList.add('open-menu')
                    animeMenu.classList.remove('close-menu')
                    animeBtn.innerText = "Hide Menu"
                }
            })

            watchBtn.addEventListener('click', (e) => {
                if (e.target.innerText === 'Hide watch') {
                    watchMenu.classList.remove('open-menu')
                    watchMenu.classList.add('close-menu')
                    watchBtn.innerText = "Show watch"
                } else if (e.target.innerText === 'Show watch') {
                    watchMenu.classList.add('open-menu')
                    watchMenu.classList.remove('close-menu')
                    watchBtn.innerText = "Hide watch"
                }
            })
        </script>

</body>
</html>