<head>
    <%- include ('./partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/newpage.css" />
</head>

<body>
   
    <a href="/"><button>Home</button></a>
        <div id="flex-container">
            <form action="/anime/" method="post">
                <label for="name">Name:</label>
                <input type="text" name="name"required />
                <label for="year">year:</label>
                <input type="text" name="year" value="No Date" />
                <label for="image">Image:</label>
                <input type="text" name="image" value="https://sainfoinc.com/wp-content/uploads/2018/02/image-not-available-570x570.jpg" />
                <button type="submit">Create anime</button>
            </form>
        </div>
</body>

</html>