<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>
        <link rel="stylesheet" href="/styles/showpage.css" />
</head>

<body>
        <div class="flex-container">
            <a href="/"><button>Home</button></a>
           
            
            <div class="flex-container">
                <ul>
                    <% for (let watch of watchList) { %>
                        <li>
                                <div class="index-show-watchList">
                                    <h1><%= watch.title %></h1>
                                    <h3><%= watch.description %></h3>
                                </div>
                            <form action="/watchList/<%= watch._id %>?_method=DELETE" method="POST">
                                <button type="submit">Delete watch</button>
                            </form>
                    </li>
                    <% } %>
                </ul>
            </div> -->

        </main>
</body>

</html>