/*Scroll bar*/

* {
    scrollbar-color: rgb(108, 0, 0) transparent;
    margin: 0px;
    padding: 0px;
}

.model-object {
    margin: 0 auto;
    background-color: rgba(95, 158, 160, 0.7);
    padding: 1em;
    border-radius: 1em;
}

button {
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    font-size: calc(10px + 0.4em);
    background: rgba(35, 5, 47, 0.4);
    cursor: pointer;
}